/* css reset */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address{
    margin: 0;
    padding: 0;
}

a:link, a:visited {
  color: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/* end css reset */

h1, h2, h3, h4 {
  color: #2F3440;
}

p {
  color: #2F3440;
  font-family: "Trebuchet MS", serif;
}

.header {
  background-color: #0A2E52;
  color: #FFFFFF;
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  padding: 15px;
  width: 100%;
  position: fixed;
}

.header h1 {
  display: inline;
  float: left;
  color: #FFFFFF;
}
/*
#navbtn {
  float: right;
  margin-top: 10px;
}
*/
.nav {
    margin-top: 10px;
    clear: both;
    text-align: center;
}

.nav li {
  display: none;
  list-style: none;
  padding: 5px;
  }

.nav a.icon {
  float: right;
  display: block; /* mozda ukloni */
}

/* makinng menu responsive on/off with js */
.nav.responsive {
  position: relative;
}

.nav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.nav.responsive li {
  float: none;
  display: block;
  text-align: left;
}

/* end */

.nav-itm {
  text-decoration: none;
  text-transform: capitalize;  /* zasto ovo ne radi, proveri */
}

.content {
  width: 90%;
  margin: auto;
}

/* responsive grid */

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .cover {
      padding-top: 0px;
    }
}

/*
@media only screen and (orientation: portrait) {
    body {
        background-color: lightblue;
    }
}
*/

/* For desktop: */
@media only screen and (min-width: 768px) {

/*  #navbtn {
    display: none;
  }
*/
  .nav {
    float: right;
    clear: none;
  }

  .nav li {
    display: inline;
    list-style: none;
    padding: 5px;
  }

  .header .nav .icon {
    display: none;
}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* end responsive grid */

.footer {
  background-color: #DDDDDD;
  padding: 10px;
  margin-top: 60px;
  height: 80px;
  border-top: 1px solid #696969;
}
