.header {
  position: fixed;
  z-index: 1;
}

.cover {
  padding-top: 50px;
}

#imgcover {
  max-width: 100%;
  height: auto;
}

.slideimg {
  width: 100%;
}

.cover > .row > div {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  /*z-index: -1;*/
}

.motto {
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 30px;
    color: #2F3440;
    text-transform: uppercase;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}
